@implements IDisposable
@inject IShoppingCartService shoppingCartService

@*<a href="ShoppingCart" class="btn btn-info">
    <i class="oi oi-cart"></i>&nbsp;Cart
    <span class="badge bg-dark">@shoppingCartItemCount</span>
</a>*@

<AuthorizeView>
    <Authorized>
        <a href="LogOut">Log out</a>
        <a href="ShoppingCart" class="btn btn-info">
            <i class="oi oi-cart"></i>&nbsp;Cart
            <span class="badge bg-dark">@shoppingCartItemCount</span>
        </a>
    </Authorized>
    <NotAuthorized>
        <a href="/signup">Sign up</a>
        <a href="/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>


@code {
    private int shoppingCartItemCount = 0;

    protected override void OnInitialized()
    {
        shoppingCartService.OnShoppingCartChanged += ShoppingCartChanged;
    }

    protected void ShoppingCartChanged(int totalQty)
    {
        shoppingCartItemCount = totalQty;
        StateHasChanged();
    }

    void IDisposable.Dispose()
    {
        shoppingCartService.OnShoppingCartChanged -= ShoppingCartChanged;
    }
}
